$low-olive:rgb(229, 232, 213)
$olive-green: rgb(189, 203, 167)
$low-green: rgb(143, 175, 110)
$mid-green: rgb(59, 83, 51)
$dark-green: rgb(46, 81, 58)

body
  padding-top: 105px

.navbar
  background-color: $low-green

.navbar-inverse
  .navbar-nav
    >li
      >a
        font-weight: bold
        color: $low-olive

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
  color: $olive-green
  background-color: $dark-green

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus
  color: $olive-green
  background-color: $dark-green

.navbar-nav>li>.dropdown-menu
  color: $dark-green
  background-color: $olive-green
  >li
    color: $low-green
    background-color: $olive-green

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:active
  background-image: linear-gradient(to bottom,$mid-green 0,$dark-green 100%)

.navbar-nav>li>.dropdown-menu .nav-header
  padding-left: 4px
  font-weight: bold
  color: $dark-green
  background-color: $low-green

.active
  background-color: $dark-green

.well-lg
  background-color: $low-olive

.well-sm
  background-color: $dark-green //$olive-green
  strong
    color: white
  a
    color: $olive-green
  .row
    color: #f5f5f5