body {
  padding-top: 105px; }

.navbar {
  background-color: #8faf6e; }

.navbar-inverse .navbar-nav > li > a {
  font-weight: bold;
  color: #e5e8d5; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: #bdcba7;
  background-color: #2e513a; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #bdcba7;
  background-color: #2e513a; }

.navbar-nav > li > .dropdown-menu {
  color: #2e513a;
  background-color: #bdcba7; }
  .navbar-nav > li > .dropdown-menu > li {
    color: #8faf6e;
    background-color: #bdcba7; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
  background-image: linear-gradient(to bottom, #3b5333 0, #2e513a 100%); }

.navbar-nav > li > .dropdown-menu .nav-header {
  padding-left: 4px;
  font-weight: bold;
  color: #2e513a;
  background-color: #8faf6e; }

.active {
  background-color: #2e513a; }

.well-lg {
  background-color: #e5e8d5; }

.well-sm {
  background-color: #2e513a; }
  .well-sm strong {
    color: white; }
  .well-sm a {
    color: #bdcba7; }
  .well-sm .row {
    color: whitesmoke; }
